@charset "UTF-8";

html {
  font-size: 100%;
  color: black;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.wrapper {
  text-align: center;
  /* align-items: center; */
  
}
#header {
  text-align: center;

}

.site-title{
  font-size: 64px;
  font-weight: bold;
}
.sub-title{
  font-size: 32px;
  margin-bottom: 80px;
}
.sec-title{
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  margin: 80px;
  
}

#menu ul{
  display: flex;
  justify-content: center;
  
}
#menu li{
  text-align: center;
  font-size: 32px;
  margin: 0 20px;
  padding-bottom: 20px;
}

#mainvisual img{
  width: 100%;
  /* max-width: 1320px; */
  
  height: 400px;
  object-fit: cover;
  /* margin-bottom: 80px; */
}
  #house img{
    width: 100%;
    max-width: 1320px;
    height: 800px;
    object-fit: cover;
    
  }
  #house dl{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
        
    width: 30%;
    padding-top: 20px;
    
  }
  #house dt{
    width: 50%;
    border: 1px solid black;
  }
  #house dd {
    width: 50%;
    border: 1px solid black;
  }
  #inner ul{
    display: flex;
    justify-content: space-between;
  }
  #inner li{
    width: 100%;
     padding:10px;
  }
  #inner img{
    width: 100%;
    max-width: 960px;
    object-fit: cover;
    margin: 0 auto;
    height:400px;
  }  
  .interior {
    font-size: 52px;
    text-align: center;
    margin:40px;
  }
  #contact dd input, 
  #contact dd textarea{
    border: 1px solid blue;
    width: 100%;

  }
  #contact dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-align: center;
  }
  #contact dt{
    width: 15%;
    margin-bottom:10px;
  }
  #contact dd{
    width: 85%;
    margin-bottom: 20px;
  }
  #contact .button {
    text-align: center;
  }
  #contact .button input{
    width: 300px;
    background-color: black;
    color: white;
    padding: 30px;
  }

  @media screen and (max-width: 800px) {

    .sec-title{
      font-size: 48px;
      font-weight: normal;
    }
    #menu li{
      font-size: 24px;;
    }
    #house img{
      width: 100%;
      max-width: 800px;
      height: 250px;
      object-fit: cover;
    }
    #house dl{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      width: 70%;
      margin: 30px 10px;
    }

  #inner ul{
    flex-direction: column;
    text-align: center;
  }
  #inner li{
    width: 80%;
     padding :10px;
  }
    
  #inner img{
    width: 100%;
    /* max-width: 600px; */
    object-fit: cover;
    margin: 0 auto;
    height:300px;
  }  
  

  #contact dl{
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  #contact .button input{
    width: 200px;
    padding: 20px;
  }

  }
  